@media (min-width: 768px) {

  .header-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header h1 {
    font-size: 2rem;
  }

  /* Desktop nav */
  .hamburger {
    display: none;
  }

  #navMenu {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
  }

  /* Bigger hero */
  .hero {
    height: 450px;
  }

  .hero h2 {
    font-size: 2rem;
  }

  /* Background logo bigger */
  body::before {
    width: 300px;
    height: 300px;
  }
}
