@media (min-width: 768px) {


  .header-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header h1 {
    font-size: 2rem;
  }

 
  .hamburger {
    display: none;
  }

  #navMenu {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
  }

 

  .hero {
    height: 450px;
  }

  .hero h2 {
    font-size: 2rem;
  }

 

  body::before {
    width: 300px;
    height: 300px;
  }

 

  #members {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .member-card img {
    height: 180px;
  }
}
