@media (min-width: 768px) {

    .nav-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    .main-nav {
        display: flex !important;
        flex-direction: row;
        gap: 20px;
        margin-top: 0;
    }

    .content-row {
        flex-direction: row;
        align-items: center;
        gap: 40px;
        text-align: left;
    }

    .content-row.reverse {
        flex-direction: row-reverse;
    }

    .text-box {
        flex: 1;
        padding: 0 2rem;
        text-align: left;
    }

    .image-box {
        flex: 1;
    }

    .footer-grid {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .spotlight-grid,
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1100px) {

    footer {
        padding: 4rem 0 2rem;
    }

    .spotlight-grid,
    .cards-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
